In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_excel('http://taanila.fi/kunnat.xlsx', sheet_name = 'Kuntien avainluvut')
df.head(7)

,Kunta,"Taajama-aste, %, 2017","Väkiluku, 2017","Väkiluvun muutos edellisestä vuodesta, %, 2017","Alle 15-vuotiaiden osuus väestöstä, %, 2017","15-64 -vuotiaiden osuus väestöstä, %, 2017","Yli 64-vuotiaiden osuus väestöstä, %, 2017","Ruotsinkielisten osuus väestöstä, %, 2017","Ulkomaan kansalaisten osuus väestöstä, %, 2017","Syntyneiden enemmyys, henkilöä, 2017",...,"Taloudellinen huoltosuhde, 2016","Alueella olevien työpaikkojen lukumäärä, 2016","Alkutuotannon työpaikkojen osuus, %, 2016","Jalostuksen työpaikkojen osuus, %, 2016","Palvelujen työpaikkojen osuus, %, 2016","Vuosikate, euroa/asukas, 2017","Lainakanta, euroa/asukas, 2017","Konsernin lainakanta, euroa/asukas, 2017","Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017","Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017"
0,Akaa,88.5,16769,-0.9,18.0,59.8,22.2,0.2,1.6,-47,...,154.2,4512,3.3,35.6,59.5,370.2,3139.1,3927.7,1579.9,3231.2
1,Alajärvi,60.7,9831,-0.7,17.7,55.7,26.6,0.1,1.9,-19,...,187.7,3330,11.6,26.4,59.9,674.0,2152.1,4235.1,2152.6,3579.3
2,Alavieska,52.6,2610,-1.1,19.6,57.3,23.1,0.2,0.6,-5,...,169.3,741,24.4,21.6,52.0,276.2,2988.9,3182.4,1837.5,3995.8
3,Alavus,59.5,11713,-1.6,17.0,56.3,26.6,0.1,1.1,-42,...,172.1,4355,9.9,23.3,65.6,466.4,3307.6,6004.2,1780.8,3886.5
4,Asikkala,64.4,8248,-0.9,14.2,54.7,31.1,0.2,1.6,-51,...,171.7,2318,9.4,27.4,60.8,577.5,1453.7,3014.4,1607.9,3476.6
5,Askola,53.2,4990,-1.1,20.5,60.9,18.6,3.2,1.8,-1,...,125.5,1373,8.7,38.2,51.0,166.1,3894.0,4928.7,2014.0,2912.2
6,Aura,69.9,3991,0.2,20.0,61.9,18.1,0.6,2.2,10,...,123.7,1127,5.2,34.3,57.9,700.8,3000.8,3702.1,1719.9,2723.1

In [3]:
df.shape

(311, 32)

In [4]:
df.columns

Index(['Kunta', 'Taajama-aste, %, 2017', 'Väkiluku, 2017',
       'Väkiluvun muutos edellisestä vuodesta, %, 2017',
       'Alle 15-vuotiaiden osuus väestöstä, %, 2017',
       '15-64 -vuotiaiden osuus väestöstä, %, 2017',
       'Yli 64-vuotiaiden osuus väestöstä, %, 2017',
       'Ruotsinkielisten osuus väestöstä, %, 2017',
       'Ulkomaan kansalaisten osuus väestöstä, %, 2017',
       'Syntyneiden enemmyys, henkilöä, 2017',
       'Kuntien välinen muuttovoitto/-tappio, henkilöä, 2017',
       'Perheiden lukumäärä, 2017', 'Asuntokuntien lukumäärä, 2017',
       'Rivi- ja pientaloissa asuvien asuntokuntien osuus, %, 2017',
       'Vuokra-asunnoissa asuvien asuntokuntien osuus, %, 2017',
       'Vähintään toisen asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017',
       'Korkea-asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017',
       'Alueella asuvan työllisen työvoiman määrä, 2016',
       'Työllisyysaste, %, 2016',
       'Asuinkunnassaan työssäkäyvien osuus, %, 2016',
       'Työttömien osuus työvoimasta, %, 2016',
       'Eläkeläisten osuus väestöstä, %, 2016',
       'Taloudellinen huoltosuhde, 2016',
       'Alueella olevien työpaikkojen lukumäärä, 2016',
       'Alkutuotannon työpaikkojen osuus, %, 2016',
       'Jalostuksen työpaikkojen osuus, %, 2016',
       'Palvelujen työpaikkojen osuus, %, 2016',
       'Vuosikate, euroa/asukas, 2017', 'Lainakanta, euroa/asukas, 2017',
       'Konsernin lainakanta, euroa/asukas, 2017',
       'Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017',
       'Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017'],
      dtype='object')

In [5]:
df.rename(columns={'Alle 15-vuotiaiden osuus väestöstä, %, 2017':'Alle 15-vuotiaita, %',
                   '15-64 -vuotiaiden osuus väestöstä, %, 2017':'15-64 -vuotiaita, %',
                   'Yli 64-vuotiaiden osuus väestöstä, %, 2017':'Yli 64-vuotiaita, %',
                  'Ruotsinkielisten osuus väestöstä, %, 2017':'Ruotsinkielisiä, %',
                  'Ulkomaan kansalaisten osuus väestöstä, %, 2017':'Ulkomaalaisia, %'}, inplace=True)
df.head()

,Kunta,"Taajama-aste, %, 2017","Väkiluku, 2017","Väkiluvun muutos edellisestä vuodesta, %, 2017","Alle 15-vuotiaita, %","15-64 -vuotiaita, %","Yli 64-vuotiaita, %","Ruotsinkielisiä, %","Ulkomaalaisia, %","Syntyneiden enemmyys, henkilöä, 2017",...,"Taloudellinen huoltosuhde, 2016","Alueella olevien työpaikkojen lukumäärä, 2016","Alkutuotannon työpaikkojen osuus, %, 2016","Jalostuksen työpaikkojen osuus, %, 2016","Palvelujen työpaikkojen osuus, %, 2016","Vuosikate, euroa/asukas, 2017","Lainakanta, euroa/asukas, 2017","Konsernin lainakanta, euroa/asukas, 2017","Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017","Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017"
0,Akaa,88.5,16769,-0.9,18.0,59.8,22.2,0.2,1.6,-47,...,154.2,4512,3.3,35.6,59.5,370.2,3139.1,3927.7,1579.9,3231.2
1,Alajärvi,60.7,9831,-0.7,17.7,55.7,26.6,0.1,1.9,-19,...,187.7,3330,11.6,26.4,59.9,674.0,2152.1,4235.1,2152.6,3579.3
2,Alavieska,52.6,2610,-1.1,19.6,57.3,23.1,0.2,0.6,-5,...,169.3,741,24.4,21.6,52.0,276.2,2988.9,3182.4,1837.5,3995.8
3,Alavus,59.5,11713,-1.6,17.0,56.3,26.6,0.1,1.1,-42,...,172.1,4355,9.9,23.3,65.6,466.4,3307.6,6004.2,1780.8,3886.5
4,Asikkala,64.4,8248,-0.9,14.2,54.7,31.1,0.2,1.6,-51,...,171.7,2318,9.4,27.4,60.8,577.5,1453.7,3014.4,1607.9,3476.6

In [6]:
df.drop(['Väkiluvun muutos edellisestä vuodesta, %, 2017', 'Taajama-aste, %, 2017', 'Syntyneiden enemmyys, henkilöä, 2017',
       'Kuntien välinen muuttovoitto/-tappio, henkilöä, 2017',
       'Perheiden lukumäärä, 2017', 'Asuntokuntien lukumäärä, 2017',
       'Rivi- ja pientaloissa asuvien asuntokuntien osuus, %, 2017',
       'Vuokra-asunnoissa asuvien asuntokuntien osuus, %, 2017',
       'Vähintään toisen asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017',
       'Korkea-asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017',
       'Alueella asuvan työllisen työvoiman määrä, 2016',
       'Työllisyysaste, %, 2016',
       'Asuinkunnassaan työssäkäyvien osuus, %, 2016',
       'Työttömien osuus työvoimasta, %, 2016',
       'Eläkeläisten osuus väestöstä, %, 2016',
       'Taloudellinen huoltosuhde, 2016',
       'Alueella olevien työpaikkojen lukumäärä, 2016',
       'Alkutuotannon työpaikkojen osuus, %, 2016',
       'Jalostuksen työpaikkojen osuus, %, 2016',
       'Palvelujen työpaikkojen osuus, %, 2016',
       'Vuosikate, euroa/asukas, 2017', 'Lainakanta, euroa/asukas, 2017',
       'Konsernin lainakanta, euroa/asukas, 2017',
       'Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017',
       'Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017'], axis = 1, inplace=True)
df.head()

,Kunta,"Väkiluku, 2017","Alle 15-vuotiaita, %","15-64 -vuotiaita, %","Yli 64-vuotiaita, %","Ruotsinkielisiä, %","Ulkomaalaisia, %"
0,Akaa,16769,18.0,59.8,22.2,0.2,1.6
1,Alajärvi,9831,17.7,55.7,26.6,0.1,1.9
2,Alavieska,2610,19.6,57.3,23.1,0.2,0.6
3,Alavus,11713,17.0,56.3,26.6,0.1,1.1
4,Asikkala,8248,14.2,54.7,31.1,0.2,1.6

In [7]:
df.columns

Index(['Kunta', 'Väkiluku, 2017', 'Alle 15-vuotiaita, %',
       '15-64 -vuotiaita, %', 'Yli 64-vuotiaita, %', 'Ruotsinkielisiä, %',
       'Ulkomaalaisia, %'],
      dtype='object')

In [8]:
df.insert(3, 'Alle 15-vuotiaita, lkm', df['Väkiluku, 2017'] * df['Alle 15-vuotiaita, %']/100).astype(float).round(2)
df['Alle 15-vuotiaita, lkm'] = df['Alle 15-vuotiaita, lkm'].astype(float).round(2)
df.insert(5, '15-64 -vuotiaita, lkm', df['Väkiluku, 2017'] * df['15-64 -vuotiaita, %']/100)
df['15-64 -vuotiaita, lkm'] = df['15-64 -vuotiaita, lkm'].astype(float).round(2)
df.insert(7, 'Yli 64-vuotiaita, lkm', df['Väkiluku, 2017'] * df['Yli 64-vuotiaita, %']/100)
df['Yli 64-vuotiaita, lkm'] = df['Yli 64-vuotiaita, lkm'].astype(float).round(2)
df.insert(9, 'Ruotsinkielisiä, lkm', df['Väkiluku, 2017'] * df['Ruotsinkielisiä, %']/100)
df['Ruotsinkielisiä, lkm'] = df['Ruotsinkielisiä, lkm'].astype(float).round(2)
df.insert(11, 'Ulkomaalaisia, lkm', df['Väkiluku, 2017'] * df['Ulkomaalaisia, %']/100)
df['Ulkomaalaisia, lkm'] = df['Ulkomaalaisia, lkm'].astype(float).round(2)
df.head()

,Kunta,"Väkiluku, 2017","Alle 15-vuotiaita, %","Alle 15-vuotiaita, lkm","15-64 -vuotiaita, %","15-64 -vuotiaita, lkm","Yli 64-vuotiaita, %","Yli 64-vuotiaita, lkm","Ruotsinkielisiä, %","Ruotsinkielisiä, lkm","Ulkomaalaisia, %","Ulkomaalaisia, lkm"
0,Akaa,16769,18.0,3018.42,59.8,10027.86,22.2,3722.72,0.2,33.54,1.6,268.30
1,Alajärvi,9831,17.7,1740.09,55.7,5475.87,26.6,2615.05,0.1,9.83,1.9,186.79
2,Alavieska,2610,19.6,511.56,57.3,1495.53,23.1,602.91,0.2,5.22,0.6,15.66
3,Alavus,11713,17.0,1991.21,56.3,6594.42,26.6,3115.66,0.1,11.71,1.1,128.84
4,Asikkala,8248,14.2,1171.22,54.7,4511.66,31.1,2565.13,0.2,16.50,1.6,131.97

In [9]:
Valitut_kunnat = df.loc[df['Kunta'].isin(['Viitasaari', 'Pihtipudas', 'Kannonkoski', 'Saarijärvi'])]
Valitut_kunnat.head()

,Kunta,"Väkiluku, 2017","Alle 15-vuotiaita, %","Alle 15-vuotiaita, lkm","15-64 -vuotiaita, %","15-64 -vuotiaita, lkm","Yli 64-vuotiaita, %","Yli 64-vuotiaita, lkm","Ruotsinkielisiä, %","Ruotsinkielisiä, lkm","Ulkomaalaisia, %","Ulkomaalaisia, lkm"
74,Kannonkoski,1408,13.6,191.49,52.9,744.83,33.5,471.68,0.1,1.41,1.3,18.30
197,Pihtipudas,4127,15.3,631.43,55.4,2286.36,29.3,1209.21,0.0,0.00,0.7,28.89
234,Saarijärvi,9589,14.3,1371.23,56.1,5379.43,29.5,2828.76,0.1,9.59,1.3,124.66
299,Viitasaari,6411,11.7,750.09,54.8,3513.23,33.6,2154.10,0.1,6.41,0.9,57.70

In [10]:
writer=pd.ExcelWriter('Valitut_kunnat.xlsx', engine='xlsxwriter')
Valitut_kunnat.to_excel(writer)
writer.save()